*{
    font-family: 'Yuji Boku', serif;
    color: #fff;
}
body{
    background-color: black;
}
.contenedor{
    position: relative;
    z-index: 99;
    width: 99,9%; 
}
.contenedor2{
    position: relative;
    z-index: 100;
    width: 99,9%; 
}
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.este{
    position: absolute;
    left: 800px;
    top: px;
    opacity: 80%;
}

.inline{
    display: inline;
}

#header{
    margin-bottom: 150px;
}
.icons{
    color:rgba(128, 128, 128, 0.672);
    font-size: 40px;
    padding: 0px 0px 40px 0px !important;
    padding-bottom: 10px;
    margin: 0px;
    display: block;
    width: 5%;
    transition: 0.5s;
}
.icons:hover{
    font-size: 35px;
    width: 25%;
}
.icon-header{
    padding-left: 40px;
    font-size: 20px;
    cursor: pointer;
}

.margenes{
    margin-bottom: 200px;
}
.titulos-center{
    text-align: center;
}

#menu-mio{
    position: fixed;
    z-index: 1;
}
#btn-menu{
    cursor: pointer;
}
.full-menu{
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	background: #292929b1;
	transition: .2s;
}
.lista-full-screen{
    text-decoration: none;
    text-align: center;
    list-style: none;
    font-size: 50px;
  
}
.lista-full-screen li{
    padding-bottom: 50px;
}
.lista-full-screen li a{
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 40% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.lista-full-screen li a:hover, .lista-full-screen li a:focus{
    background-size: 100% 2px;
    }
.lista-full-screen li a{
    text-decoration:none !important;
    
}
.redes a{
    
    font-size: 40px;
    color:rgba(128, 128, 128, 0.672);
    width: 5%;
    transition: 0.5s;
    text-decoration: none;
    padding: 20px;
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.redes a:hover, .redes a:focus{
background-size: 100% 2px;
}
.redes{
    margin-top: 150px;
    margin-left: 530px;
}
.color_main {
    color:#FFF !important;
    font-size: 25px !important;
}
.fa-bars{
    font-size: 25px !important;
}




